
.sigin-form{
    max-width: 500px;
}

.sigin-form-title{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 100px;
}

.signin-form-forgot{
    float: right;
}

.signin-form-button{
    width: 100%;
}